<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  </head>
  <body>
    <p>
      <div id="buttons" align="center" style="margin: 0 auto; ">
        <input id="arrival_alert" class="button" type="button" value="下に来たから迎えに来て！"><br />
        <input id="alert_reset" class="button-disable" type="button" value="お迎え状態リセット" disabled>
      </div>
    </p>
    <p>
      <div id="robot_connection" class="text-disable" style="margin: 0 auto;">
        誰も見ていません
      </div>
    </p>
    <script src="{{ static_url("jquery-1.12.0.min.js") }}"></script>
    <script src="{{ static_url("main.js") }}"></script>
  </body>
</html>
